/*
notes: 

justify-content : center ; // centers items in the middle of parent;
*/


body{
	background-color: rgb(21,10,52) !important;

}

.about{
	padding: 80px;
		background: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif);
		background-color: rgb(21,10,52);
		background-size: cover;
			background-repeat: repeat;
	background-blend-mode: 	screen;
	text-shadow: 3px 3px 3px black 
}

.Ico_whitelist{
	padding: 40px;
	padding-top: 100px;
}

.input-group  {
	display: flex!important;
	justify-content: center;
}
/*js action and animation classes */
/*.invisible {
visibility: hidden;
}
*/

.form-control{
	max-width: 500px;
}
.btn-outline-secondary{
	background-color: #58ff32;
	color: white;

}
#ico_nav_bar{
background-color: rgb(21,10,52) !important;
}

.navbar_img  img{
	width: 300px;
}
.navbar-toggler{
	background-color: gold !important;
}

/* unvisited link */
a:link {
    color: white !important;
}

/* visited link */
a:visited {
    color: white !important;
}

/* mouse over link */
a:hover {
    text-decoration: underline !important;
}

/* selected link */
a:active {
    text-decoration: bold !important;
}

section{
	padding-top: 50px;
background-color: rgb(21,10,52,0.2) !important;
color: white !important;
font-family: 'Quicksand', sans-serif;
text-align: center;

}


#token_prop {
display: flex;
justify-content: center;
list-style: none;
text-align: center;
padding: 10px;
transition-duration: 6s;
}
#token_prop li{		
width: 300px;
/*transform: all;*/
transition-duration: 6s;
}

#token_prop :hover {
	transform: scale(1.07);
}
h6 p {
	opacity: 0.5; 
}
#token_logo_div{
	display: flex;		
align-content: center;
justify-content: center;

}
.join_wl{
	margin: 20px;
	background-color: rgb(245,232,155); /*light gold*/
	color:  rgb(21,10,52);
	border-color: gold;
}
.join_wl: hover{
	/*background-color: rgb(190,232,118) !important;*/
	color:  white;
}


.media{
	padding-top: 100px;
	padding-bottom: 20px;
	list-style: none;
display: block; /*keep vertical!*/
}

.whitepaper_botton{
	margin-top: 10px;
	width: 300px !important;
	background-color: rgb(255,255,255,0.5)!important;
	transition: all 1.5s;
}
.whitepaper_botton:hover{
	width: 300px !important;
	background-color: rgb(255,255,255,1)!important;
	color: rgb(5,5,5);
}

#Meet_the_team{
	padding-top: 100px;
}
.Team {
	padding-top: 20px;
		list-style: none;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;

	}
.card{
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	align-content: right;
	transition: all 0.2s;

}
.card:hover{
	transform: scale(1.05);
}

#Social_media{
	padding-top: 100px;
}
.social_media{
	list-style: none;
	display: inline-flex;
		justify-content: 	center;	

}
.fab{
	padding: 80px !important;
	color: white;
	opacity: 0.8;
	transition: all 1s;
}
.fab:hover{
	transform: scale(1.2);
	opacity: 1;
}
.fa-facebook-f:hover{
	color: #3b5998;
}
.fa-twitter:hover{
	color: #0084b4;
}
.fa-telegram-plane:hover{
	color: #0088CC;
}

.footer{
	border: white !important;
	border-width: 5px;
	background-color: rgb(21,10,52);
	color: gray;
text-align: center;
padding-bottom: 200px;
}

footer > a:link {
    color: gray !important;
}

/* visited link */
footer > a:visited {
    color: gray !important;
}

